.pv_box {
  background: $c-bg-box;
  font-size: 13px;

  .pv {
    display: flex;
    flex-wrap: wrap;
    line-height: 2em;
    border-top: $border;

    &[data-uci]:hover {
      background: mix($c-secondary, $c-bg-box, 20%);
      cursor: pointer;
    }

    &.pv--nowrap {
      @extend %nowrap-ellipsis;
      display: block; // "flex" doesn't support ellipsis so switch it to "block"
      flex-wrap: initial;
      height: 2em;
    }

    strong {
      display: inline-block;
      width: 34px;
      text-align: center;
      font-weight: bold;
    }

    span {
      margin-left: 4px;
    }

    &[data-uci] .pv-san:hover {
      color: $c-primary;
    }
  }
}
